.message {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  min-width: 120px;
  max-width: 85%; 
}

.message p {
  margin: 0;
  padding: 12px;
  background-color: var(--dark);
  text-align: left;
}

.message span {
  align-self: flex-end;
  font-size: 12px;
}

.message.incoming {
  align-self: flex-start;
}

.message + .message {
  margin-top: 8px;
}